<div class="product-grid row row-5">
  <% products.each do |product| %>
      <% url = product_url(product, :taxon_id => @taxon.try(:id)) %>
      <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
          <div class="product-item-<%= product.id %> product-item">
            <div class="image"><%= link_to product_image(product, :itemprop => "image"), url, :itemprop => 'url' %></div>
            <div class="actions">
              <div class="cart">

                <!--input type="button" value="Add to Cart" class="btn btn-primary"-->
                <!--Start Add to cart-->
                <%= form_for :order, :url => populate_orders_path do |f| %>
                    <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                      <%= hidden_field_tag "variant_id", product.master.id %>

                      <% if product.price_in(current_currency) and !product.price.nil? %>
                          <div data-hook="product_price" class="columns five
                            <% if !product.has_variants? %> alpha
                            <% else %> omega
                            <% end %>">

                            <div class="add-to-cart">
                              <div class="cart" style="display:none">
                                <div style="margin-bottom:10px;"><%= Spree.t(:quantity) %>:
                                  <%= number_field_tag :quantity, 1, :style => 'display: inline-block; width:60px !important;', :size => '2', :min => 1 %>
                                </div>
                              </div>
                              <div class="lemmaBook">
                                <div class="cartAdd">
                                  <%= button_tag :class => 'btn btn-primary', :id => 'add-to-cart-button', :type => :submit do %>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                      <% else %>
                          <div id="product-price">
                            <br>

                            <div>
                              <span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span>
                            </div>
                          </div>
                      <% end %>
                    </div>
                <% end %>
                <!--End add to cart-->

              </div>
              <div class="wishlist">
               <%= form_for Spree::WishedProduct.new, :html => {:method => :post} do |f| %>
														<%= f.hidden_field :variant_id, :value => product.master.id %>
														<a title="Add to Wish List" onclick="$(this).parent().submit();"><i class="fa fa-list"></i></a>
		      <%end%>
              </div>
            </div>
            <div class="name"><%= link_to truncate(product.name, :length => 50), url, :itemprop => "name", :title => product.name %></div>
            <%= taxon_authors(product) %>
            <p class="description">&nbsp;</p>

            <div class="price"><%= display_price(product) %></div>
          </div>
      <% end %>


  <% end %>
  <% reset_cycle("classes") %>
</div>