<div class="product-list row">
  <% products.each do |product| %>
    <div class="product-item-<%= product.id %> product-item">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="image">
          <%= link_to product_image(product, :itemprop => "image"),
              product_url(product, :taxon_id => @taxon.try(:id)), :itemprop => 'url' %>
        </div>
      </div>
      <div class="left">
        <div class="price"> $21.98</div>
        <div class="name">
          <%= link_to truncate(product.name, :length => 50),
              product_url(product, :taxon_id => @taxon.try(:id)),
              :itemprop => "name", :title => product.name %>
        </div>
        <div class="author"><%= taxon_authors(product) %></div>
        <div class="description"><%= product.description %> </div>
        <div class="actions clearfix">

                <%= form_for :order, :url => populate_orders_path do |f| %>
                    <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                      <%= hidden_field_tag "variant_id", product.master.id %>

                      <% if product.price_in(current_currency) and !product.price.nil? %>
                          <div data-hook="product_price" class="columns five
                            <% if !product.has_variants? %> alpha
                            <% else %> omega
                            <% end %>">

                            <div class="add-to-cart">
                              <div class="cart" style="display:none">
                                <div style="margin-bottom:10px;"><%= Spree.t(:quantity) %>:
                                  <%= number_field_tag :quantity, 1, :style => 'display: inline-block; width:60px !important;', :size => '2', :min => 1 %>
                                </div>
                              </div>
                              <div class="lemmaBook">
                                <div class="cartAdd">
                                  <%= button_tag :class => 'btn btn-primary', :id => 'add-to-cart-button', :type => :submit do %>
                                    <i class="fa fa-shopping-cart"></i>
                                    Add to Cart
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                      <% else %>
                          <div id="product-price">
                            <br>

                            <div>
                              <span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span>
                            </div>
                          </div>
                      <% end %>
                    </div>
                <% end %>
	          <div class="wishlist">
	             <%= form_for Spree::WishedProduct.new, :html => {:method => :post} do |f| %>
															<%= f.hidden_field :variant_id, :value => product.master.id %>
															<a title="Add to Wish List" onclick="$(this).parent().submit();"><i class="fa fa-list"></i></a>
			    <%end%>
	          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
