<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<head>
    <%= render :partial => 'spree/shared/head' %>
</head>


<body>


<div class="t3-wrapper"> 
  <!-- // Need these wrapper for off-canvas menu. Remove if you don't use of-canvas -->

  
  <%= render :partial => 'spree/shared/header' %>


  
<div id="t3-mainbody" class="container t3-mainbody has-sidebar-left has-col-md-3">
    <div class="row"> 
      

      <!-- MAIN CONTENT -->
      <div id="t3-content" class="t3-content col-xs-12 col-sm-12 col-md-9 col-md-push-3">
        <div style="display: none;" id="system-message-container"> </div>
        <div id="container_oc">
          <div id="header_oc" style="display:none;">
            <form>
              <div id="currency">Currency<br>
                <a title="Euro" onclick="">€</a> <a title="Pound Sterling" onclick="">£</a> <a title="US Dollar"><b>$</b></a>
              </div>
            </form>
            <div id="cart">
              <div class="heading">
                <h4>Shopping Cart</h4>
                <a><span id="cart-total">0 item(s) - $0.00</span></a></div>
              <div class="content_oc">
                <div class="empty">Your shopping cart is empty!</div>
              </div>
            </div>
            
            <div id="search_oc">
              <div class="button_oc-search"></div>
              <input style="width: 120px !important;" name="search_oc" value="Search" onclick="this.value = '';" onkeydown="this.style.color = '#000000';" type="text">
            </div>
            <div id="welcome"> Welcome visitor you can <a href="#">login</a> or <a href="#">create an account</a>. </div>
            <div class="links"><a href="#">Home</a><a href="#" id="wishlist-total">Wish List (0)</a><a href="#">My Account</a><a href="#">Shopping Cart</a><a href="#">Checkout</a></div>
             <%= render :partial => 'spree/shared/login_bar' if content_for? :sidebar %>
          </div>
          
          
          <div id="notification"></div>
          <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
            <%= flash_messages %>
          <%= yield %>
        </div>


        </div>
      </div>
      <!-- //MAIN CONTENT --> 
      
 <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>
      
    </div>
  </div>
  
<div class="sticky-module sticky-module-left ">
  <div class="custom"> 

    <%= render :partial => 'spree/shared/social' %>

  </div>
</div>
  
  <div id="back-to-top" class="back-to-top hidden-xs hidden-sm deactive">
    <button class="btn btn-primary"><i class="fa fa-caret-up"></i>Top</button>
  </div>
  
  
</div>

      <%= render :partial => 'spree/shared/footer' %>

      <%= render :partial => 'spree/shared/google_analytics' %>

</body>
</html>



