<% @body_id = 'cart' %>
<div class="t3-content col-xs-12" id="t3-content">
  <div id="container_oc">
    <div id="content_oc">
      <div class="box_oc">
        <div class="box-heading">
          <h1 class="mijoshop_heading_h1"><%= Spree.t(:shopping_cart) %></h1>
        </div>

  <% if @order.line_items.empty? %>

    <div data-hook="empty_cart">
      <p><%= Spree.t(:your_cart_is_empty) %></p>
      <p><%= link_to Spree.t(:continue_shopping), root_path, :class => 'btn btn-primary' %></p>
    </div>

  <% else %>

    <div data-hook="outside_cart_form">
      <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
        <div data-hook="inside_cart_form">

          <div data-hook="cart_items">
            <%= render :partial => 'form', :locals => { :order_form => order_form } %>
          </div>
          <!--             <%= order_form.text_field :coupon_code, :size => 10, :placeholder => Spree.t(:coupon_code) %> -->
          <div class="links columns sixteen alpha omega" data-hook="cart_buttons" style="text-align: right">
           <div><%= link_to Spree.t(:continue_shopping), root_path, :class => 'btn btn-primary' %>
         
                <%= button_tag :class => 'btn btn-primary', :id => 'update-button' do %>
                <%= Spree.t(:update) %>
              <% end %>
              <%= button_tag :class => 'btn btn-primary', :id => 'checkout-link', :name => 'checkout' do %>
                <%= Spree.t(:checkout) %>
            </div>


            <% end %>
          </div>

        </div>
      <% end %>
    </div>


  <% end %>
</div>
</div>
</div>
</div>

