<% cache [I18n.locale, current_currency, @product] do %>
<div id="t3-content" >

        <div id="container_oc">
          <div id="notification"></div>
          <div id="content_oc">
            <div class="box_oc">
              <div class="box-content">
              <h1 class="mijoshop_heading_h1 product-title"><%= accurate_title %></h1>
                <div class="product-info row">
                  <div class="col-xs-12 col-md-4 col-sm-4">
                    <div class="image"><%= render :partial => 'image' %></div>
                              <div data-hook>
            <%= render :partial => 'thumbnails' %>
          </div>
                  </div>
                  <div class="col-xs-12 col-md-3 col-sm-3">                    
            <%= render :partial => 'cart_form' %>
                  </div>
                  <div class="col-xs-12 col-md-5 col-sm-5">
                    
                    <!--<h3 class="module-title" style="border:none; padding:0;">Description</h3>-->
                    <div style="display: block; line-height: 2em;" id="tab-description">
                      <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
                    </div>
                    
                  </div>
                </div>

<!--                 <div class="t3-module related-products">
                  <h3 class="module-title ">Related Products (1)</h3>
                  <div id="related-products" class="module-ct">
                    <div class="product-grid row">
                    </div>
                  </div>
                </div> -->

                <h3 class="module-title"><%= Spree.t(:properties)%></h3>
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="description">
                      <%= render :partial => 'properties' %>
                    </div>
                  </div>
                  
                <h3 class="module-title"><%= Spree.t(:look_for_similar_items) %></h3>
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <%= render :partial => 'taxons' %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% end %>
