<div class="box_oc">
<div class="title-block">
  <h1 class="taxon-title"><%= @taxon.name %></h1>
  <% if !@taxon.description.blank? %>
    <div class="taxon-desc"><%= raw(@taxon.description) %></div>
  <% end %>
</div>
<% if !@taxon.parent.nil? %>
  <% if @taxon.parent.name == 'Authors' %>
  <div class="box-heading">
      <h1 class="mijoshop_heading_h1">Books of author</h1>
  </div>
  <% end %>
  <% if @taxon.parent.name == 'Publishers' %>
  <div class="box-heading">
      <h1 class="mijoshop_heading_h1">Books of publisher</h1>
  </div>
  <% end %>
<% end %>
</div>
<% content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
    <%= render partial: 'spree/shared/filters' if @taxon.children.empty? %>
  </div>
<% end %>

<div data-hook="taxon_products">
  <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
</div>

<% unless params[:keywords].present? %>
  <div data-hook="taxon_children">
    <% cache [I18n.locale, @taxon] do %>
      <%= render partial: 'taxon', collection: @taxon.children %>
    <% end %>
  </div>
<% end %>
