
<div class="brick">
	<% if entry.image.present? %>
  	<a href="<%= entry.url %>" target="_blank"><img src="<%= entry.image %>" style="max-width: 100%;"></a>
  <% end %>
  <div class="info">
    <h3><a href="<%= entry.url %>" target="_blank"><%= raw entry.title %></a></h3>
    <h5><%= entry.published ? entry.published.strftime('%d %B %Y') : "" %></h5>
    <% if entry.summary.present? %>
    	<p><%= raw pre_process_summary(entry.summary) %></p>
    <% end %>
  </div>
</div>