
<%= form_for :order, :url => populate_multiple_orders_path do |f| %>
<% @products.each_with_index do |product, index|%>
  <div>
    <p><%= index %></p>
    <%= product.name %>

    <%= hidden_field_tag "var_#{index}", product.master.id %>

    <% if product.price_in(current_currency) and !product.price.nil? %>
      <div>

        <div>
          <div>
            <%= display_price(product) %>
            <%= product.currency %>
          </div>

          <% if product.master.can_supply? %>
            <div>In Stock</div>
          <% elsif product.variants.empty? %>
            <div>Not in Stock</div>
          <% end %>
        </div>

        <div>
          <div>
            <%= number_field_tag "qty_#{index}", 1, :style => 'display: inline-block; width:60px !important;', :size => '2', :min => 1 %>
          </div>          
        </div>
      </div>
    <% end %>
  </div>
  <hr>
<% end %>
          <div>
            <%= button_tag :class => 'btn btn-primary', :id => 'add-to-cart-button', :type => :submit do %>
              <%= Spree.t(:add_to_cart) %>
            <% end %>
          </div>
<% end %>