<div class="box_oc">
  <div class="box-heading">
    <h1 class="mijoshop_heading_h1">Bulk order</h1>
  </div>
  <div class="d-search bulk-right">
    <%= form_tag(bulk_orders_path, :method => "get", class: "form-inline") do %>
<!--         <div class="form-group bulk-filters">
        <%= select_tag :isbn, params[:isbn], placeholder: "Suggested", class: "form-control bulk-filter" %>
      </div> -->
        <div class="form-group bulk-filters">
          <label class="sr-only1">Suggested titles</label>

          <% eval 'class MiniTaxon; attr_accessor :name,:id; end '
             c=   MiniTaxon.new
             c.name  = 'Show all titles'; c.id = ''
          %>
           <%= select_tag "sugested", options_from_collection_for_select([c] + [@root_suggested_taxon.children.first] + @root_suggested_taxon.children.first.children    , "id", "name", params['sugested']),{:class => 'sugested-filter form-control bulk-filter'} %>
        </div>

        <div class="form-group bulk-filters">
          <label class="sr-only1">ISBN</label>
        <%= text_field_tag :isbn, params[:isbn], placeholder: "ISBN", class: "form-control bulk-filter" %>
      </div>
        <div class="form-group bulk-filters">
          <label class="sr-only1"><%= t(:title2) %></label>
          <%= text_field_tag :title, params[:title], placeholder: t(:title), class: "form-control bulk-filter" %>
        </div>
        <div class="form-group bulk-filters">
          <label class="sr-only1"><%= t(:author) %></label>
          <%= text_field_tag :author, params[:author], placeholder: t(:author), class: "form-control bulk-filter" %>
        </div>
        <div class="form-group bulk-filters">
          <label class="sr-only1"><%= t(:publisher) %></label>
          <%= text_field_tag :publisher, params[:publisher], placeholder: t(:publisher), class: "form-control bulk-filter" %>
        </div>    
      <%= submit_tag "Search", :name => nil, class: "btn btn-primary bulk-filters" %>
    <% end %>             
  </div>  
  <div class="box-content">
    <%= form_for :order, :url => populate_multiple_orders_path do |f| %>
      <div class="text-right">
        <div class="div-total">
          <label ><%= link_to_cart %></label>
          <%= link_to t(:clear), empty_bulk_order_orders_path,  :class => 'btn btn-primary', method: :post %>
          <%= button_tag :class => 'btn btn-primary', :id => 'add-to-cart-button', :type => :submit do %>
            <%= Spree.t(:order) %>
          <% end %>       
        </div>
      </div>  
      <div class="cart-info">
        <table class="table-line">
          <thead>
            <tr>
              <td class="bulk-isbn bulk-center"><%= sortable "isbn", "ISBN" %></td>
              <td class="bulk-center"><%= sortable "title", t(:title) %></td>
              <td class="bulk-center"><% if !params[:author].blank? or params[:publisher].blank? %> 
                <%= sortable "author", t(:author)%>
                <% else %>
                <%= t(:author) %>
                <% end %> 
              </td>
              <td class="bulk-center"><% if params[:author].blank? and !params[:publisher].blank? %> 
                <%= sortable "publisher", t(:publisher)%>
                <% else %>
                <%= t(:publisher) %>
                <% end %>
              </td>
              <td class="bulk-instock bulk-center"><%= sortable "weight", t(:weight) %></td>
              <td class="bulk-instock bulk-center"><%= sortable "stock", t(:in_stock) %></td>
              <td class="bulk-center"><%= sortable "rrp", "RRP" %></td>
              <td class="bulk-up bulk-center"><%= sortable "price", t(:unit_price) %></td>
              <td class="td-w bulk-center"><%= t(:quantity) %></td>
              <td class="bulk-center"><%= t(:total) %></td>
            </tr>
          </thead>     
          <body>
            <% if @products %>
              <% @products.each_with_index do |product, index|%>
                <tr class='bulk_orders line-item'>
                  <td class="bulk-left"><%= product.isbn %><%= hidden_field_tag "var_#{index}", product.master.id %></td>
                  <td class="bulk-left"><%= link_to product.name, product %></td>
                  <td class="bulk-left"><%= product.authors %></td>
                  <td class="bulk-center"><%= product.publishers %></td>
                  <td class="bulk-center"> <%=  product.weight if product %>  <%= Spree.t(:weight_gr)  %> </td>
                  <td class="bulk-center"><% if product.qty > 0 %>
                        <%= product.qty %> 
                      <% else %> 
                        <i class="fa fa-times red"></i></td>
                      <% end %>
                  <td class="bulk-center"><%= product.rrp %></td>
                  <td class="bulk-center"><% if product.price_in(current_currency) and !product.price.nil? %>
                      <%= display_price(product) %>
                    <% end %>
                  </td>
                  <td class="quantity td-w bulk-center ">
                    <button class="minus bulk-plus">-</button>
                    <%= text_field_tag "qty_#{index}", 0, onchange: 'bulk_order_sum(this);', onclick: '$(this).select()', price: product.price_in(current_currency).amount.to_s, :size => 1, data: { price: product.price_in(current_currency).amount.to_s }, class: 'line_item_quantity' %>
                    <button class="plus bulk-plus">+</button>
                  </td>
                  <%= content_tag :td, id: "tqty_#{index}", class: 'cart-item-total bulk-center' do %>
                  <% end %>
                </tr>          
              <% end %>
            <% end %>
          </body>
        </table>
        <% if @products %> <div class="pag"><%= paginate @products, :window => 3  %></div> <% end %>
      </div>

    <% end %>
  </div>
</div>