<div class="box_oc">
  <div class="box-heading">
    <h1 class="mijoshop_heading_h1">Bulk order</h1>
  </div>
  
  <div class="box-content">
  	<div class="text-right">
    	<div class="div-total">
            <label>Total: $550 </label>
        	<input class="btn" type="button" value="Order">
        </div>
    </div>   
  <div class="d-search">
	<%= form_tag(bulk_orders_path, :method => "get", class: "form-inline") do %>
	  	<div class="form-group">
	  		<label class="sr-only1">ISBN</label>
			<%= text_field_tag :isbn, params[:isbn], placeholder: "ISBN", class: "form-control" %>
		</div>
      <div class="form-group">
        <label class="sr-only1">Title</label>
        <%= text_field_tag :title, params[:title], placeholder: "Title", class: "form-control" %>
      </div>
      <div class="form-group">
        <label class="sr-only1">Author</label>
        <%= text_field_tag :author, params[:author], placeholder: "Author", class: "form-control" %>
      </div>
      <div class="form-group">
        <label class="sr-only1">Publisher</label>
        <%= text_field_tag :publisher, params[:publisher], placeholder: "Publisher", class: "form-control" %>
      </div>		
	  <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
	<% end %>   	      	
  </div>
    <form>
      <div class="cart-info">
        <table class="table-line">
          <thead>
            <tr>
              <td>ISBN</td>
              <td>Title</td>
              <td>Author</td>
              <td>Publisher</td>
              <td>In stock</td>
              <td>RRP</td>
              <td>Unit price</td>
              <td class="td-w">Quantity</td>
              <td>Total</td>
            </tr>
          </thead>
          <tbody>
          	<% if @products %>
          	  <% @products.each do |product|%>
	            <tr>
	              <td><%= product.isbn %></td>
	              <td><%= link_to product.name, product %></td>
	              <td><% if product.author %><%= link_to product.author.name, "/t/"+ product.author.permalink %><% end %></td>
	              <td><% if product.publisher %><%= link_to product.publisher.name, "/t/"+ product.publisher.permalink %><% end %></td>
	              <td><i class="fa fa-times red"></i></td>
	              <td>$12</td>
	              <td>$10</td>
	              <td><input value="10" style="width:50px !important" placeholder="10"></td>
	              <td>$120</td>
	            </tr>
	          <% end %>
	        <% end %>
          </tbody>
        </table>
      </div>
    </form>
    <div class="text-center">
        <ul class="pagination">
          <li><a href="#">«</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
    </div>
  </div>              
  
</div>

