<div class="box_oc">
  <div class="box-heading">
    <h1 class="mijoshop_heading_h1">Bulk order</h1>
  </div>
  <div class="d-search">
    <%= form_tag(bulk_orders_path, :method => "get", class: "form-inline") do %>
        <div class="form-group">
          <label class="sr-only1">ISBN</label>
        <%= text_field_tag :isbn, params[:isbn], placeholder: "ISBN", class: "form-control" %>
      </div>
        <div class="form-group">
          <label class="sr-only1"><%= t(:title2) %></label>
          <%= text_field_tag :title, params[:title], placeholder: t(:title), class: "form-control" %>
        </div>
        <div class="form-group">
          <label class="sr-only1"><%= t(:author) %></label>
          <%= text_field_tag :author, params[:author], placeholder: t(:author), class: "form-control" %>
        </div>
        <div class="form-group">
          <label class="sr-only1"><%= t(:publisher) %></label>
          <%= text_field_tag :publisher, params[:publisher], placeholder: t(:publisher), class: "form-control" %>
        </div>    
      <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
    <% end %>             
  </div>  
  <div class="box-content">
    <%= form_for :order, :url => populate_multiple_orders_path do |f| %>
      <div class="text-right">
        <div class="div-total">
          <label><%= link_to_cart %></label>
          <%= button_tag :class => 'btn btn-primary', :id => 'add-to-cart-button', :type => :submit do %>
            <%= Spree.t(:order) %>
          <% end %>       
        </div>
      </div>  
      <div class="cart-info">
        <table class="table-line">
          <thead>
            <tr>
              <td>ISBN</td>
              <td><%= t(:title) %></td>
              <td><%= t(:author) %></td>
              <td><%= t(:publisher) %></td>
              <td><%= t(:in_stock) %></td>
              <td>RRP</td>
              <td><%= t(:unit_price) %></td>
              <td class="td-w"><%= t(:quantity) %></td>
              <td><%= t(:total) %></td>
            </tr>
          </thead>     
          <body>
            <% if @products %>
              <% @products.each_with_index do |product, index|%>
                <tr>
                  <td><%= product.isbn %><%= hidden_field_tag "var_#{index}", product.master.id %></td>
                  <td><%= link_to product.name, product %></td>
                  <td><%= product.authors %></td>
                  <td><%= product.publishers %></td>
                  <td><% if product.qty > 0 %>
                        <%= product.qty %> 
                      <% else %> 
                        <i class="fa fa-times red"></i></td>
                      <% end %>
                  <td></td>
                  <td><% if product.price_in(current_currency) and !product.price.nil? %>
                      <%= display_price(product) %>
                    <% end %>
                  </td>
                  <td><%= number_field_tag "qty_#{index}", 0, :style => 'display: inline-block; width:60px !important;', :size => '2', :min => 0 %></td>
                  <td></td>
                </tr>          
              <% end %>
            <% end %>
          </body>
        </table>
      </div>
      <div class="text-right">
        <div class="div-total">
          <label><%= link_to_cart %></label>
          <%= button_tag :class => 'btn btn-primary', :id => 'add-to-cart-button', :type => :submit do %>
            <%= Spree.t(:order) %>
          <% end %>       
        </div>
      </div>      
    <% end %>
  </div>
</div>