<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <% if "spree/products" == params[:controller] && @taxon %>
      <%= render :partial => 'spree/shared/filters' %>
    <% else %>
      <%= render :partial => 'spree/shared/taxonomies' %>
    <% end %>
  </div>
<% end %>



         
<div id="content_oc">
            <div class="box_oc">
              <div class="box-heading">
                <h1 class="mijoshop_heading_h1">Out of stock Items</h1>
              </div>
              <div class="box-content">

<div class="product-filter">
  <div class="display">Display: <a onclick="display('list');"><i class="fa fa-th-list"></i></a><span><i class="fa fa-th-large"></i></span></div>
  <div class="limit">
    <div class="btn btn-primary"><%= link_to Spree.t(:remove_all), :controller => "outofstock_items", :action => "destroy_all" %></div>
</div>
</div>


<div class="box-content">            
  <div class="product-grid row row-5">


  <% if @outofstock.present? %>
    
    <% @outofstock.each do |product1| %>
    <% product = Spree::Product.find(product1.product_id) %>
    <% if product1.user_email == spree_current_user.email %>
    
    <div class="product-item-0">
      <div class="actions">
        <div class="image">
         <a href="/products/<%=product.slug%>"> <%= product_image(product) %></a>
          
        </div>
      
      </div>
      <div class="name"><h4><%= link_to product.name, product %></h4></div>
      <div class="author"><%= taxon_authors(product) %></div>
      <div class="price"><%= display_price(product) %></div>
          
     <% end %> 
    </div>
        <% end %>
  <% else -%>
      <div style="width:40%">
          You don't have any out of stock items.
    </div>
        <% end %>

  </div>

   </div>
      </div>

    </div>
    
    	<script type="text/javascript"><!--
                
                    function display(view) {
                        if (view == 'list') {
                            jQuery('.product-grid').attr('class', 'product-list row');
                            jQuery('.product-list > div').each(function(index, element) {
                                html = '<div class="col-xs-12 col-sm-4 col-md-3">';
                                
                                var image = jQuery(element).find('.image').html();
                                if (image != null) {
                                    html += '<div class="image">' + image + '</div>';
                                }
                                html += '</div>';
                                html += '<div class="left">';
                                
                                var price = jQuery(element).find('.price').html();
                                if (price != null) {
                                    html += '<div class="price">' + price + '</div>';
                                }
                
                                html += '  <div class="name">' + jQuery(element).find('.name').html() + '</div>';  
                                html += '  <div class="author">' + jQuery(element).find('.author').html() + '</div>';                
                                html += '  <div class="description">' + jQuery(element).find('.description').html() + '</div>';
                                html += '<div class="actions clearfix">';
                                html += '  <div class="cartAdd">' + jQuery(element).find('.cartAdd').html() + '</div>';
                                html += '  <div class="wishlistAdd">' + jQuery(element).find('.wishlistAdd').html() + '</div>';
                                html += '</div>';
                                html += '</div>';
                                jQuery(element).html(html);
                            });
                
                            jQuery('.display').html('Display: <span><i class="fa fa-th-list"></i></span> <a onclick="display(\'grid\');"><i class="fa fa-th-large"></i></a>');
                
                            jQuery.totalStorage('display', 'list');
                        } else {
                            jQuery('.product-list').attr('class', 'product-grid row row-5');                
                            jQuery('.product-grid > div').each(function(index, element) {
                                html = '';
                
                                var image = jQuery(element).find('.image').html();
                                html += '<div class="actions">';
                
                                if (image != null) {
                                    html += '<div class="image">' + image + '</div>';
                                }
                                html += '</div>';
								
								
                                html += '<div class="name">' + jQuery(element).find('.name').html() + '</div>';      
                                html += '  <div class="author">' + jQuery(element).find('.author').html() + '</div>';                             
                                html += '<div class="description">' + jQuery(element).find('.description').html() + '</div>';
                
                                var price = jQuery(element).find('.price').html();
                                if (price != null) {
                                    html += '<div class="price">' + price + '</div>';
                                }
								
								html += '<div class="lemmaBook">';								
                                html += '<div class="cartAdd">' + jQuery(element).find('.cartAdd').html() + '</div>';
                                html += '<div class="wishlistAdd">' + jQuery(element).find('.wishlistAdd').html() + '</div>';
                                html += '</div>';
                                jQuery(element).html(html);
                            });
                
                            jQuery('.display').html('Display: <a onclick="display(\'list\');"><i class="fa fa-th-list"></i></a><span><i class="fa fa-th-large"></i></span>');
                            jQuery.totalStorage('display', 'grid');
                        }
                    }
                
                    view = jQuery.totalStorage('display');
                
                    if (view) {
                        display(view);
                    } else {
                        display('grid');
                    }
                                        
                //--></script>
          
  </div>



