<div data-hook="admin_user_new_form">
<%= form_for Subscription.new , url: admin_subscriptions_url, method: :post do |f| %>
       <div data-hook="admin_user_form_fields" class="row">
		 <div class="alpha ten columns">
			<%= f.field_container :name do %>
			<%= f.label :name, Spree.t(:name) %>
			<%= f.text_field :name, :class => 'fullwidth' %>
			<%end %>
			        
						
			<%= f.field_container :description do %>
			<%= f.label :description, Spree.t(:description) %>
			<%= f.text_area :description, :class => 'fullwidth' %>
			<% end %>
           <%=f.submit 'save'%>
        </div>
       </div>
<% end %>
</div>