<!-- FOOTER -->
  <footer id="t3-footer" class="wrap t3-footer"> 
  
  <!-- FOOT NAVIGATION -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 footer-info">
        <div id="Mod145" class="t3-module module ">
          <div class="module-inner">
            <div class="module-ct">
              <div class="custom">
                <ul class="list-shipping">
                  <li class="shipping-item"><i class="fa fa-bullhorn"></i><span class="title"><%= Spree.t(:whats_new) %></span> <span class="desc"></span></li>
                  <li class="exchange-item"><i class="fa fa-calendar"></i><span class="title"><%= Spree.t(:comming_soon) %></span> <span class="desc"></span></li>
                  <li class="support-item"><i class="fa fa-gift"></i><span class="title"><%= Spree.t(:specials) %></span> <span class="desc"></span></li>
                  <li class="support-item"><i class="fa fa-skype"></i><span class="title"><%= Spree.t(:online_support) %></span> <span class="desc">skype: wbsbooks</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 footer-links">
        <div id="Mod97" class="t3-module module subcribe-frm ">
          <div class="module-inner">
            <h3 class="module-title "><span><%= Spree.t(:signup_for_news_and_offers) %></span></h3>
            <div class="module-ct">
              <div id="acymailing_module_formAcymailing88911" class="acymailing_module subcribe-frm">
                <div id="acymailing_fulldiv_formAcymailing88911" class="acymailing_fulldiv">
                  <form>
                    <div class="acymailing_module_form row">
                      <div class="col-md-6"><span class="acymailing_introtext"><%= Spree.t(:acymailing_introtext) %></span></div>
                      <div class="acymailing_form col-md-5">
                        <div class="row">
                          <div class="col-md-8 col-xs-8">
                            <p class="onefield fieldacyemail">
                              <label class="sr-only">E-mail</label>
                              <span class="acyfield_email">
                              <input type="text" value="" style="width:100%" class="inputbox">
                              </span> </p>
                          </div>
                          <div class="col-md-4 col-xs-4 acysubbuttons">
                            <input type="submit" value="<%= Spree.t(:subscribe) %>" class="button subbutton btn btn-red">
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- SPOTLIGHT -->
        <div class="t3-spotlight t3-footnav  row">
          <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div id="Mod100" class="t3-module module ">
              <div class="module-inner">
                <h3 class="module-title "><span><%= Spree.t(:information) %></span></h3>
                <div class="module-ct">
                  <div style="margin-bottom: 0px !important;" class="box_oc">
                    <div>
                      <ul>
                        <li><%= link_to Spree.t(:about_us), '/about' %></li>
                        <li><a href="#"><%= Spree.t(:news) %></a></li>
                        <li><%= link_to Spree.t(:help_and_support), '/faq' %></li>
                        <li><%= link_to Spree.t(:contact_us), '/contact' %></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <div id="Mod105" class="t3-module module menu-2col ">
              <div class="module-inner">
                <h3 class="module-title "><span><%= Spree.t(:account) %></span></h3>
                <div class="module-ct">
                  <div style="margin-bottom: 0px !important;" class="box_oc">
                    <div>
                      <ul>
                        <li><%= link_to Spree.t(:login), login_path %> / <%= link_to Spree.t(:registration), signup_path %></li>
                        <li><%= link_to Spree.t(:forgot_password), spree.recover_password_path %></li>
                        <li><a href="#"><%= Spree.t(:my_account) %></a></li>
                        <li><a href="#"><%= Spree.t(:my_wishlist) %></a></li>
                        <li><%= link_to Spree.t(:my_orders), spree.account_path %></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-lg-3 col-md-3  col-sm-3 hidden-sm  col-xs-12">
            <div id="Mod99" class="t3-module module ">
              <div class="module-inner">
                <h3 class="module-title "><span><%= Spree.t(:contact_us) %></span></h3>
                <div class="module-ct">
                  <div class="custom">
                    <p><%= Spree.t(:address1) %>: Dollymans Farm | Doublegate Lane | Rawreth | Wickford | Essex | SS11 8UD</p>
                    <p><%= Spree.t(:mail_to) %>: <a href="#">info@wbsbooks.com</a></p>
                    <p><%= Spree.t(:phone) %>: +44 1268 574110 </p>
                      <p><%= Spree.t(:fax) %>: +44 1268 574123</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SPOTLIGHT --> 
      </div>
    </div>
  </div>
  <!-- //FOOT NAVIGATION -->
  
  <section class="t3-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8 copyright "> <small> Copyright © 2014 WBS Books Privacy Notice | Conditions of Use </small></div>
        <div class="col-md-4 poweredby"> <%= image_tag "payment_image_paypal.png" %> <%= image_tag "payment_image_maestro.png" %> <%= image_tag "payment_image_visa.png" %></div>
      </div>
    </div>
  </section>
</footer>
  <!-- //FOOTER --> 