  <div id="toolbar">
    <div class="container">
      <div class="row">
      <div class="toolbar-ct col-xs-12 col-md-6  hidden-sm hidden-xs">
          <div class="toolbar-ct-5">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <%if session[:locale] == 'en'%>
                <%= image_tag "eng.png" %>    <%= Spree.t (:english) %>
              <%else%>
                <%= image_tag "ru.png" %>    <%= Spree.t (:russian) %>
              <%end%>
              <!-- <img alt="English" src="images/eng.png"> -->&nbsp;</button>
              <div class="dropdown-menu" role="menu">
                <div class="t3-module module">
                  <div class="module-inner">
                    <div class="module-ct">
                      <ul class="nav">
                        <li><%= image_tag "eng.png" , :class => "fa-add2" %><%= link_to_unless_current Spree.t(:english), set_locale_path( :locale => 'en' ) %></li>
                        <li><%= image_tag "ru.png", :class => "fa-add2"  %><%= link_to_unless_current Spree.t(:russian), set_locale_path( :locale => 'ru' ) %></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%
            selected_iso = selected_currency.try(:iso_code).try(:downcase)
          %>

          <div class="toolbar-ct-5">
            <div class="btn-group">
              <i class="fa fa-add fa-<%=selected_iso %>"></i><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><%= selected_currency.try(:name) %></button>
              <div class="dropdown-menu" role="menu">
                <div class="t3-module module">
                  <div class="module-inner">
                    <div class="module-ct">
                      <%#= currency_menu %>
                      <% if Spree::Config[:allow_currency_change] && Spree::Config[:show_currency_selector] && supported_currencies.size > 1 %>
                      <ul class="nav">
                        <% supported_currencies.each do |currency|%>
                        <li><i class="fa fa-add fa-<%=currency.iso_code.downcase %>"> </i> <a href="#" class="toggle-currency" value="<%=currency.iso_code%>" ><%=currency.name %></a></li>
                      <% end %> </ul><% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <%= render :partial => 'spree/shared/login_bar' %> 

      </div>
    </div>
  </div>
  
  <!-- HEADER -->
  <header id="t3-header" class="wrap t3-header navbar-fixed-top">
    <div class="container">
      <div class="row"> 
        <!-- LOGO -->
        <div class="col-xs-12 col-md-3 logo col-sm-6">
          <div class="logo-image"> <%= link_to image_tag("logo.png", :border=>0, :id => 'logo'), spree.root_path %><!-- <img class="logo-img" src="images/logo.png" style="width:95%"> --></a></div>
        </div>
        <!-- //LOGO --> 

        
        <!-- MAIN NAVIGATION -->
        <nav id="t3-mainnav" class="col-xs-12 col-md-6 t3-mainnav navbar navbar-default hidden-sm"> 
          <div class="navbar-header"> </div>
          <div class="t3-navbar navbar-collapse collapse">
            <div class="t3-megamenu animate slide" data-duration="400" data-responsive="true">
              <ul class="nav navbar-nav level0">
                <li><%= link_to Spree.t(:whats_new), new_items_path %></li>
                <li><%= link_to Spree.t(:specials), specials_path %></li>
                <% if spree_current_user %>
                  <li><%= link_to Spree.t(:bulk_order), bulk_orders_path %></li>
                <% end %>
                <li><%= link_to Spree.t(:about_us), '/about' %></li>
                <li><%= link_to Spree.t(:contact_us), '/contact' %></li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- //MAIN NAVIGATION -->


        <div class="col-xs-12 col-md-3 pull-right col-sm-6"> 
          <!-- HEAD SEARCH -->
          <div class="head-search ">
            <div style="text-align:right">

              <%= render :partial => 'spree/shared/search' %>
              <%= link_to Spree.t(:advanced_search), :search, class: 'search-adv'  %>
            </div>
          </div>
          <!-- //HEAD SEARCH --> 
          
        </div>
      </div>
    </div>
  </header>
  <!-- //HEADER --> 
