


<% if spree_current_user %>
        <div class="toolbar-ct toolbar-ct-right col-xs-12 col-md-6 pull-right">
        	
          <div class="toolbar-ct-3">
            <div class="btn-group">
              <%= link_to Spree.t(:my_account), spree.account_path %>
            </div>
            <div class="btn-group" style="margin-left:40px;">
              <button type="button" class="btn btn-default"><%= link_to Spree.t(:logout), spree.logout_path %></button>
            </div>
          </div>

          <div class="toolbar-ct-2 ">
            <div class="t3-module module">
              <div class="module-inner">
                <div class="module-ct">
                  <div id="header_oc">
                    <div id="cart" style="left:0 !important;">
                      <div class="heading">
                        <i class="fa fa-shopping-cart"></i> <%= link_to_cart %></div>
                          <div class="content_oc">
                            <div class="empty">Your shopping cart is empty!</div>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>      
              
        </div>
<% else %>
        <div class="toolbar-ct toolbar-ct-right col-xs-12 col-md-6 pull-right">
    


                    <div class="toolbar-ct-3">
            <div class="btn-group" style="margin-left:40px;">
              <button type="button" class="btn btn-default"><%= link_to Spree.t(:login), spree.login_path %></button>
            </div>
          </div>

          <div class="toolbar-ct-2 ">
            <div class="t3-module module">
              <div class="module-inner">
                <div class="module-ct">
                  <div id="header_oc">
                    <div id="cart" style="left:0 !important;">
                      <div class="heading">
                        <i class="fa fa-shopping-cart"></i> <%= link_to_cart %></div>
                          <div class="content_oc">
                            <div class="empty">Your shopping cart is empty!</div>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>      
              
        </div>
<% end %>