
     <!-- SIDEBAR LEFT -->


      <div class="t3-sidebar t3-sidebar-left col-xs-12 col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9  hidden-sm hidden-xs">
        <div class="t3-module module " id="Mod107">
          <div class="module-inner">
            <h3 class="module-title "><span><%= Spree.t(:categories) %></span></h3>
            <div class="module-ct">
              <div class="box_oc" style="margin-bottom: 0px !important;">
                <div>
                  <div class="box-category">
                    <%= taxons_tree(@root_taxon,@taxon,1,1) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t3-module module  " id="Mod110">
          <div class="module-inner">
            <h3 class="module-title "><span><%= Spree.t(:publishers) %></span></h3>
            <div class="module-ct">
              <div class="box_oc" style="margin-bottom: 0px !important;">
                <div>
                  <div class="box-product">
                    <div>
                        <select class="form-control" id="publishers-filter">
                          <% values = Spree::Taxonomy.find_by_name('Publishers').taxons.reject(&:root?).map { |t| [t[:name], seo_url(t)] } %>
                          <%= options_for_select ([['--', '']] + values) %>
                        </select>
                        <script>
                          $(function() {
                              $('#publishers-filter').change(function() {
                                  var u = $('#publishers-filter').val();
                                  if (u != "") window.location = u;
                              });
                          });
                        </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if spree_current_user %>
          <div class="t3-module module " id="Mod107">
            <div class="module-inner">
              <h3 class="module-title "><span><%= Spree.t(:suggested_titles) %></span></h3>
              <div class="module-ct">
                <div class="box_oc" style="margin-bottom: 0px !important;">
                  <div>
                    <div class="box-category">
                      <ul>
                        <li> <a href="#">Audiobooks</a> </li>
                        <li> <a href="#">Business books</a> </li>
                        <li> <a href="#">Children and Parents</a> </li>
                        <li> <a href="#">Fiction</a> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- //SIDEBAR LEFT -->
