<div data-hook="admin_user_new_form">
<%= form_for @notification , url: admin_notification_url(@notification), method: :put do |f| %>
       <div data-hook="admin_user_form_fields" class="row">
		 <div class="alpha six columns">
			<%= f.field_container :name do %>
			<%= f.label :name, Spree.t(:name) %>
			<%= f.text_field :name, :class => 'fullwidth' %>
			<%end %>
			        
			<%= f.field_container :body do %>
			<%= f.label :body, Spree.t(:body) %>
			<%= f.text_area :body, :class => 'fullwidth' %>
			<% end %>
			
			
			<%= f.field_container :description do %>
			<%= f.label :description, Spree.t(:description) %>
			<%= f.text_area :description, :class => 'fullwidth' %>
			<% end %>
           <%=f.submit 'Update'%>
        </div>
       </div>
<% end %>
</div>