<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<div id="t3-mainbody" class="container t3-mainbody has-sidebar-left has-col-md-3">
    <div class="row"> 
      
<head>
<meta charset="utf-8">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">

<%= csrf_meta_tags %>

<link data-turbolinks-track="true" href="/assets/ajax.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/css-20eee.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/css-3ff05.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/css-a0890.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/css-fa76a.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/css1.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/css_002.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/datepicker.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/klisha.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/selectize.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/site_style.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/test.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/ajax.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap-datepicker.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/custom/bootstrap.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/custom/grid.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/custom/jquery_002.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/custom/jquery_008.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/custom/script.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/klisha.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/klisha1.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/selectize.min.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery.validate/jquery.validate.min.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jsuri.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/spree.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery.payment.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/spree/frontend/checkout.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/spree/frontend/checkout/address.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/spree/frontend/checkout/payment.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/spree/frontend/product.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/spree/frontend/cart.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/spree/frontend.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/test.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui.min.js?body=1"></script>
</head>

      <!-- MAIN CONTENT -->
      <div id="t3-content" class="t3-content col-xs-12 col-sm-12 col-md-12">
        <div style="display: none;" id="system-message-container"> </div>
        <div id="container_oc">
          
          <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
            <%= flash_messages %>
          <%= yield %>
        </div>

        </div>
      </div>
      <!-- //MAIN CONTENT --> 
      
    </div>
  </div>

</html>



