<% address_id = address_type.chars.first %>
<table class="form">
  <tbody>
  <% if !local_variables.include?(:include_name) or include_name %>
      <tr>
        <td><span class="required">*</span><%= form.label :firstname, Spree.t(:firstname) %></td>
        <td><%= form.text_field :firstname %></td>
      </tr>
      <tr>
        <td><span class="required">*</span><%= form.label :lastname, Spree.t(:lastname) %></td>
        <td><%= form.text_field :lastname %></td>
      </tr>
  <% end %>
  <tr>
    <td><span class="required">*</span><%= form.label :address1, Spree.t(:street_address) %></td>
    <td><%= form.text_field :address1, :class => 'required' %></td>
  </tr>
  <tr id="company-id-display">
    <td><%= form.label :address2, Spree.t(:street_address_2) %></td>
    <td><%= form.text_field :address2 %></td>
  </tr>
  <tr>
    <td><span class="required">*</span><%= form.label :zipcode, Spree.t(:zip) %></td>
    <td><%= form.text_field :zipcode, :class => "required" %></td>
  </tr>
  <tr>
    <td><span class="required">*</span> <%= form.label :city, Spree.t(:city) %></td>
    <td><%= form.text_field :city, :class => 'required' %></td>
  </tr>
  <tr class='state'>
    <td><span class="required">*</span><%= form.label :state, Spree.t(:state) %></td>
    <td>
      <p class="field" id="<%= address_id %>state">
        <% have_states = !form.object.country.states.empty? %>
        <% state_elements = [
         form.collection_select(:state_id, form.object.country.states,
          :id, :name,
          {:include_blank => true},
          {:class => have_states ? 'required' : 'hidden',
            :disabled => !have_states}) +
         form.text_field(:state_name,
          :class => !have_states ? 'required' : 'hidden',
          :disabled => have_states)
         ].join.gsub('"', "'").gsub("\n", "")
        %>
        <%= javascript_tag do -%>
        $('#<%= address_id %>state').append("<%== state_elements %>");
        <% end %>
      </p>
      <noscript>
        <%= form.text_field :state_name, :class => 'required' %>
      </noscript>
    </td>
  </tr>
  <tr>
    <td><span class="required">*</span><%= form.label :country_id, Spree.t(:country) %></td>
    <td>
      <%= form.collection_select :country_id, available_countries, :id, :name, {}, class: 'required country' %>
    </td>
  </tr>
  <tr>
    <td><%= form.label :phone, Spree.t(:phone) %></td>
    <td><%= form.text_field :phone, :class => 'required' %></td>
  </tr>
  </tbody>
</table>